.panel.panel-default
    .panel-heading Filter Panel: tags, artists..
    .panel-body	
      div.loader
    //- Tags:
    //-   select.selectpicker(multiple)
    //-     //- data-style='btn-primary',
    //-     option Option1
    //-     option Option2
    //-     option Option3
//- form.form-inline(role='form')
//- .form-group
//-     label.sr-only(for='exampleInputEmail2') Email address
//-     input#exampleInputEmail2.form-control(type='email', placeholder='Enter email')
//-   .form-group
//-     label.sr-only(for='exampleInputPassword2') Password
//-     input#exampleInputPassword2.form-control(type='password', placeholder='Password')
//-   .checkbox
//-     label
//-       input(type='checkbox')
//-       | Remember me
//-   button.btn.btn-default(type='submit') Sign in