script(src='lib/jquery/jquery.min.js')
script(src='lib/bootstrap/dist/js/bootstrap.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js')
script(src='lib/silviomoreto-bootstrap-select/bootstrap-select.min.js')
script(src='js/snippetsLibrary.js')