link(rel='stylesheet', href='lib/ribbon.min.css', type='text/css')
link(rel='stylesheet', href='lib/bootstrap/dist/css/bootstrap.min.css', type='text/css')
link(rel='stylesheet', href='lib/bootstrap/dist/css/bootstrap-theme.min.css', type='text/css')
link(rel='stylesheet', href='lib/silviomoreto-bootstrap-select/bootstrap-select.min.css', type='text/css')
link(rel='stylesheet', href='css/main.css', type='text/css')