doctype 5
html
  head
    title jazzRepository
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='Tyler Harris', content='')
    block head
    include includes/styles
    include includes/scripts
  body
    block content