doctype 5
html
  head
    title jazzRepository
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='Tyler Harris', content='')
    include includes/styles
    append css
        style.
          body {
            padding-top: 70px;
          }
          .navbar-brand {
            font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
          }
          .form-control {
            margin-right: 5px !important;
          }
          .dropdown-menu.search {
            min-width: 300px;
          }
    include includes/scripts
    block head
  body
    block content