extends layout

block head   
block content  
  .container
    include includes/navbar
    include includes/filterPanel
      div(ng-app="snippetsLib")
        div(ng-controller="SnippetsCtrl")
          .col-sm-6.col-xs-6.col-md-6(ng-repeat="snippet in Snippets")
            .thumbnail
              .ribbon--corner--nw.ribbon--green
                .ribbon New
              .badge.pull-right.count 8
              img(src="http://placehold.it/525x125" alt="...")
              .caption
                span.label.label-primary {{snippet.tags}}
                span.text-muted.pull-right {{snippet.artist}}
    ul.pagination
      li.disabled
        a(href='#') «
      li.active
        a(href='#')
          | 1
          span.sr-only (current)
      li
        a(href='#') 2
      li
        a(href='#') 3
      li
        a(href='#') 4
      li
        a(href='#') 5
      li
        a(href='#') »